body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  background-color: black;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 28px;
  font-style: italic;
  text-decoration: underline;
}

h2 {
  font-size: 20px;
  font-style: italic;
}

section p {
  font: 14px Cambria;
}

a {
  font: bold 12px Cambria;
}

a:hover {
  font: italic bold 12px Cambria;
  font-style: bold;
}

a:visited {
  color: white;
}

footer {
  font: italic bold 12px Cambria;
  margin: 5px 15px 15px 100px;
  padding: 15px;
  width: 400px;
}

.headerbox-style {
  border: 8px solid white;
  border-left-color: gray;
  border-right-color: darkgray;
  border-radius: 5px;
  margin: 10px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 25px;
}

.contentbox-style {
  border: 8px solid white;
  border-left-color: gray;
  border-right-color: darkgray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px 15px 25px;
}

.navigation-style {
  border: 4px solid white;
  border-left-color: gray;
  border-right-color: darkgray;
  padding: 5px;
  border-radius: 5px;
  margin: 0 auto;
  width: 500px;
}

.navigation-style li {
  display: inline;
}
