body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  background-color: black;
}

h1 {
  font-style: italic;
  text-decoration: underline;
}

h2 {
  font-style: italic;
}

a {
  font: bold;
  color: white;
}

a:hover {
  font: italic bold;
  font-style: bold;
}

a:visited {
  color: white;
}

footer {
  font: italic bold;
  margin: 0 auto;
  padding: 5px;
  width: 300px;
  text-align: center;
}

.headerbox-style {
  border: 8px solid white;
  border-left-color: gray;
  border-right-color: darkgray;
  border-radius: 5px;
  margin: 10px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 25px;
}

.contentbox-style {
  border: 8px solid white;
  border-left-color: gray;
  border-right-color: darkgray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px 15px 25px;
}

.navigation-style {
  border: 4px solid white;
  border-left-color: gray;
  border-right-color: darkgray;
  padding: 5px;
  border-radius: 5px;
  margin: 0 auto;
  width: 300px;
}

/* Media Queries */

@media (min-width: 1024px) {
  body {
    background-color: darkblue;
    color: yellow;
    font-size: 80%;
    line-height: 200%;
  }
  a {
    color: yellow;
  }
  a:hover {
    color: yellow;
  }
  a:visited {
    color: yellow;
  }
}
