body
{
  background-color: black;
  font-size: 16px;
  font-family: "goudy_medievalregular";
  text-align: justify;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

@font-face
{
  font-family: "fancy_quisleyregular";
  src: url("fancy_quisley-webfont.woff2") format("woff2"), url("fancy_quisley-webfont.woff") format("woff"), url("fancyquisley.ttf") format("truetype");
}

@font-face
{
  font-family: "goudy_medievalregular";
  src: url("goudymedieval-k0rl-webfont.woff2") format("woff2"), url("goudymedieval-k0rl-webfont.woff") format("woff"), url("goudymedieval.ttf") format("truetype");
}

.main_section
{
  display: flex;
  flex-direction: column;
}

.logo_title
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1px 4px;
  padding: 5px 0 8px;
  border-radius: 10px;
  background-color: #8b5a00;
  font-family: "fancy_quisleyregular";
}

.logo
{
  width: 19vw;
  margin-right: 12px;
}

.title_intro
{
  margin-right: 5px;
  font-size: 6vw;
  text-align: center;
  text-shadow: -1px -1px 0 #d7a241, 1px -1px 0 #d7a241, -1px 1px 0 #d7a241, 1px 1px 0 #d7a241;
}

.title
{
  margin: 0 5px 0 0;
  font-size: 12vw;
  text-shadow: -1px -1px 0 #d7a241, 3px -1px 0 #d7a241, -1px 1px 0 #d7a241, 1px 1px 0 #d7a241;
}

.nav_bar
{
  display: flex;
  justify-content: space-evenly;
  margin: 4px 1px;
  padding: 5px 3px;
  border-radius: 10px;
  background-color: #8b5a00;
  font-family: "fancy_quisleyregular";
}

.nav_link
{
  padding: 2px 3px;
  border: 3px solid #d7a241;
  border-radius: 5px;
  background-color: #4d3200;
  color: #d7a241;
  font-size: 6.4vw;
  text-align: center;
  text-decoration: none;
}

.nav_link:hover
{
  border: 3px solid white;
  color: white;
  font-style: italic;
}

.current_link
{
  padding: 2px 3px;
  border: 3px solid white;
  border-radius: 5px;
  background-color: #4d3200;
  color: white;
  font-size: 6.4vw;
  text-align: center;
  text-decoration: none;
}

.content_display
{
  display: flex;
  flex-direction: column;
  margin: 4px 1px;
  padding: 0 15px 15px;
  border-radius: 10px;
  background-color: #d7a241;
}

h2
{
  margin: 10px 0 5px;
  font-size: 20px;
  text-align: center;
}

p
{
  margin: auto;
}

.knights_right
{
  width: 34vw;
  float: right;
  margin-left: 10px;
}

.knights_left
{
  width: 34vw;
  float: left;
  margin-right: 10px;
}

.books_right
{
  width: 38vw;
  float: right;
  padding-left: 10px;
  padding-top: 5px;
}

.books_left
{
  width: 38vw;
  float: left;
  padding-right: 10px;
  padding-top: 5px;
}

.books_links
{
  padding: 10px 0 5px;
  color: #4d3200;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.books_text
{
  padding-bottom: 10px;
}

.par_sep
{
  width: 120px;
  align-self: center;
  margin: 20px 0;
}

.contact_form
{
  margin: 4px 1px;
  padding: 0 15px 5px;
  border-radius: 10px;
  background-color: #d7a241;
  text-align: center;
}

.contact_form_field
{
  margin: 2px 0 5px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  font-family: "goudy_medievalregular";
  font-size: 18px;
}

.contact_form_button
{
  margin: 10px 0;
  padding: 0 15px;
  border: 3px solid #8b5a00;
  border-radius: 5px;
  background-color: #4d3200;
  font-family: "fancy_quisleyregular";
  color: #d7a241;
  font-size: 24px;
}

.contact_form_button:hover
{
  font-style: italic;
}

.contact_details_wrapper
{
  border-radius: 10px;
  margin: 4px 1px;
  padding: 0 15px 5px 15px;
  background-color: #4d3200;
  color: #d7a241;
}

.contact_details
{
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.contact_icon
{
  width: 20px;
  padding-right: 10px;
}

.phone_mail
{
  display: flex;
  margin: 10px 0;
}

.contact_logo
{
  width: 100px;
}

.copyright
{
  margin: 4px 1px 0;
  padding: 3px;
  border-radius: 10px;
  background-color: #8b5a00;
  text-align: center;
}

/* Media Queries */

/* Mobile (landscape) */
@media (min-width: 480px) 
{

  .main_section
  {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "l l"
      "n c"
      "n f"
      "n d"
      "n r";
  }

  .logo_title
  {
    grid-area: l;
    margin: 0 1px 4px;
  }

  .logo
  {
    width: 12vw;
    margin-right: 10px;
  }

  .title_intro
  {
    margin-right: 10px;
    font-size: 4vw;
  }

  .title
  {
    margin-right: 10px;
    font-size: 8vw;
  }

  .nav_bar
  {
    grid-area: n;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 4px 4px 1px 1px;
  }

  .nav_link
  { 
    min-width: 82px;
    margin: 4px 4px;
    font-size: 4vw;
    padding-right: 10px;
    padding-left: 10px;
  }

  .current_link
  {
    margin: 4px 4px;
    font-size: 4vw;
    padding-right: 10px;
    padding-left: 10px;
  }

  .content_display
  {
    grid-area: c;
    margin: 4px 1px 4px 4px;
    padding: 0 25px 15px;
  }

  .knights_right
  {
    width: 24vw;
    margin: 0 0 1px 10px;
  }

  .knights_left
  {
    width: 24vw;
    margin: 0 10px 1px 0;
  }

  .books_right
  {
    width: 28vw;
  }

  .books_left
  {
    width: 28vw;
  }

  .par_sep
  {
    width: 140px;
  }

  .contact_form
  {
    grid-area: f;
    margin: 4px 1px 4px 4px;
  }

  .contact_details_wrapper
  {
    grid-area: d;
    margin: 4px 1px 4px 4px;
  }

  .copyright
  {
    grid-area: r;
    margin: 4px 1px 1px 4px;
    background-color: #d7a241;
  }

/* Tablet (Portrait) */
@media (min-width: 768px)
{

  .logo
  {
    width: 94px;
  }

  .title_intro
  {
    font-size: 31px;
  }

  .title
  {
    font-size: 63px;
  }

  .nav_link
  {
    border: 4px solid #d7a241;
    font-size: 31px;
  }

  .nav_link:hover
  {
    border: 4px solid white;
  }

  .current_link
  {
    border: 4px solid white;
    font-size: 31px;
  }

  .content_display
  {
    padding: 0 30px 15px;
  }

  h2
  {
    font-size: 24px;
  }

  .knights_right
  {
    width: 185px;
  }

  .knights_left
  {
    width: 185px;
  }

  .books_right
  {
    width: 225px;
    padding-bottom: 5px;
  }

  .books_left
  {
    width: 225px;
    padding-bottom: 5px;
  }

/* Tablet (Landscape) / Laptop / Desktop */
@media (min-width: 1024px)
{

  body
  {
    font-size: 14px;
  }

  .logo
  {
    width: 80px;
  }

  .title_intro
  {
    font-size: 21px;
  }

  .title
  {
    font-size: 51px;
  }

  .nav_link
  {
    font-size: 24px;
  }

  .current_link
  {
    font-size: 24px;
  }

  .content_display
  {
    padding: 0 40px 15px;
  }

  h2
  {
    font-size: 20px;
  }

  .par_sep
  {
    width: 160px;
  }

  .contact_form_field
  {
    font-size: 20px;
  }

}

/* Desktop XL */
@media (min-width: 1280px)
{

  .books_right
  {
    width: 150px;
  }

  .books_left
  {
    width: 150px;
  }
  
}
}
}